* {
    margin: 0;
    padding: 9px;
}
body{
    background-color:lightgray ;

}
/*navbar*/
.navbar{
    padding: 1rem;

}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
footer{
    align-items: center;
    justify-content: space-between;
}
@media screen and(max-width: 767px){
    .navbar-brand{
        display:none;
    }
}
html,
body{
    height: 100%;
    color: #484545;

}
body{
    display:flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f2ffdf;
}
.form-signin{
    border: solid 1px;
    border-radius: 28px;
    border-color: #0001;
    max-width: 330px;
    padding: 15px;

}
.form-signin.form-floating:focus-within{
    z-index:2;
}
.form-signin  input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#register{
    padding: 1.5rem;
}
#product_value{
    margin-top: 100px;
}